body {
	font-family: Roboto, sans-serif; 
}


.title {
	background-color: #ffb31a;
	height: 120px;
	width: 100%;  
}

.title h3 {
	padding-bottom: 20px;
}

/*Styling for Character Cards*/
.character-card {
	border: 1px solid black;
	height: auto; 
	margin-top: 20px; 
}

.character-card img {
	width: 100%;
}

.character-name {
	font-weight: 700;
	font-size: 18px; 
	padding-left: 10px; 
}

.character-description {
	padding-left: 10px; 
}